<!-- <header class="black">
    <i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
    <small current-time="hourFormat"></small>
    <i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
</header> -->
<section class="main-content">
    <ul class = "delete-content">
        <li class="list-divider">
        Delete Event
        </li>
        <p style="text-align: center; margin-top: 10px;">
        Are you sure?
        </p>
    </ul>
</section>
<footer class="gray row">
    <div class="col span_2_4" ng-click="back()"><i class="icon ion-close"></i></div>
    <div class="col span_2_4" ng-click="delete(evt)"><i class="icon ion-checkmark"></i></div>
</footer>
