<header>
	<i class="icon ion-ios7-bell" style="color: rgb(138, 138, 138); float: left; padding-left: 10px; padding-top: 2px;"></i>
	<small current-time="hourFormat"></small>
    <i class="icon ion-battery-full" style="color: rgb(138, 138, 138); float: right; padding-right: 10px; padding-top: 2px;"></i>
</header>
<section class="main-content">
    <ul class = "delete-content">
        <li class="list-divider">
        Delete Event
        </li>
        <p style="text-align: center; margin-top: 10px;">
        Are you sure?
        </p>		
    </ul>
</section>
<footer class="gray">
    <i class="icon ion-close-round" ng-click="back()"></i>
    <i class="icon ion-checkmark-round" ng-click="removeEvent()"></i>
</footer>
