<header>
	<i class="icon ion-ios7-bell" style="color: rgb(138, 138, 138); float: left; padding-left: 10px; padding-top: 2px;"></i>
	<small current-time="hourFormat"></small>
    <i class="icon ion-battery-full" style="color: rgb(138, 138, 138); float: right; padding-right: 10px; padding-top: 2px;"></i>
</header>
<section class="main-content">
    <ul>
        <div ng-repeat="(day, evts) in events">
            <li class="list-divider">{{ day }}</li>
            <li ng-repeat="event in evts" ng-click="selectEvent(event)"><small>{{ event.time }}</small>{{ event.name }}</li>
        </div>
    </ul>
</section>
<footer class="gray row">
    <a class="col span_1_3" href="#/events/add"><i class="icon ion-plus-round"></i></a>
    <a class="col span_1_3" href="#/events/add"><i class="icon ion-eye"></i></a>
    <a class="col span_1_3" href="#/events/add"><i class="icon ion-search"></i></a>
</footer>
