<header class="black">
	<i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
	<small current-time="hourFormat"></small>
	<i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
</header>
<section class="main-content">
	<h3>{{ evt.name }}</h3>
	<p><i class="icon ion-android-clock"></i>{{ evt.time }}</p>
	<p><i class="icon ion-location"></i>{{ evt.place }}</p>
	<p><i class="icon ion-ios7-bell"></i>No notifications</p>
	<p class="description">Don't forget to bring the documents about that important thing</p>
</section>
<footer class="gray row">
	<a class="col span_2_4" href="#/events/{{evt.date}}/{{evt.id}}/edit"><i class="icon ion-edit"></i></a>
    <a class="col span_2_4" href="#/events/{{evt.date}}/{{evt.id}}/delete"><i class="icon ion-trash-a"></i></a>
</footer>
