<header class="black">
    <i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
    <small current-time="hourFormat"></small>
    <i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
</header>
<section class="main-content">
    <div ng-switch on="menu">
        <div class="menu-icon"  ng-switch-when="events">
            <a href="#/events">
                <i class="icon ion-calendar"></i>
                <p>Events</p>
            </a>
        </div>
        <div class="menu-icon" ng-switch-when="tasks">
            <a href="#/tasks">
                <i class="icon ion-checkmark"></i>
                <p>Tasks</p>
            </a>
        </div>
        <div class="menu-icon" ng-switch-when="notes">
            <a href="#/notes">
                <i class="icon ion-document-text"></i>
                <p>Notes</p>
            </a>
        </div>
        <div class="menu-icon" ng-switch-when="notifications">
            <i class="icon ion-ios7-bell"></i>
            <p>Notifications</p>
        </div>
        <div class="menu-icon" ng-switch-when="settings">
            <a href="#/settings">
                <i class="icon ion-gear-b"></i>
                <p>Settings</p>
            </a>
        </div>
    </div>
</section>
