<!-- <header class="">
    <i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
    <small current-time="hourFormat"></small>
    <i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
</header> -->
<section class="main-content no-footer">
    <div ng-switch on="menu">
        <div class="menu-icon"  ng-switch-when="events">
            <a href="#/events" data-menu="Events">
                <i class="icon ion-calendar"></i>
            </a>
        </div>
        <div class="menu-icon" ng-switch-when="tasks">
            <a href="#/tasks" data-menu="Tasks">
                <i class="icon ion-checkmark"></i>
            </a>
        </div>
        <div class="menu-icon" ng-switch-when="notes">
            <a href="#/notes" data-menu="Notes">
                <i class="icon ion-document-text"></i>
            </a>
        </div>
        <div class="menu-icon" ng-switch-when="settings">
            <a href="#/settings" data-menu="Settings">
                <i class="icon ion-gear-b"></i>
            </a>
        </div>
    </div>
</section>
