<header>
	<i class="icon ion-ios7-bell" style="color: rgb(138, 138, 138); float: left; padding-left: 10px; padding-top: 2px;"></i>
	<small current-time="hourFormat"></small>
    <i class="icon ion-battery-full" style="color: rgb(138, 138, 138); float: right; padding-right: 10px; padding-top: 2px;"></i>
</header>
<section class="main-content">
    <div ng-switch on="menu">
        <div class="menu-icon"  ng-switch-when="events">
            <a href="#/events">
                <i class="icon ion-calendar"></i>
                <p>Events</p>
            </a>
        </div>
        <div class="menu-icon" ng-switch-when="tasks">
            <i class="icon ion-checkmark"></i>
            <p>Tasks</p>
        </div>
        <div class="menu-icon" ng-switch-when="notifications">
            <i class="icon ion-ios7-bell"></i>
            <p>Notifications</p>
        </div>
        <div class="menu-icon" ng-switch-when="settings">
            <a href="#/settings">
                <i class="icon ion-gear-b"></i>
                <p>Settings</p>
            </a>
        </div>
    </div>
</section>
<!--<footer>
    <p ng-click="nextMenu()">Next</p>
    </footer>-->
