<div>
    <textarea ng-model="message" readonly=""></textarea>
    <div id="keyboard">
        <div class="row keys">
            <div key tag="_"></div>
            <div key tag="abc"></div>
            <div key tag="def"></div>
        </div>
        <div class="row keys">
            <div key tag="ghi"></div>
            <div key tag="jkl"></div>
            <div key tag="mno"></div>
        </div>
        <div class="row keys">
            <div key tag="pqrs"></div>
            <div key tag="tuv"></div>
            <div key tag="xwyz"></div>
        </div>
        <div class="row keys">
            <div key tag="up"></div>
            <div key tag="del"></div>
            <div key tag="ret"></div>
        </div>
    </div>
</div>