<div>
    <textarea ng-model="message" readonly="" placeholder="yyyy-mm-dd"></textarea>
    <div id="keyboard">
        <div class="row keys">
            <div key tag="1"></div>
            <div key tag="2"></div>
            <div key tag="3"></div>
        </div>
        <div class="row keys">
            <div key tag="4"></div>
            <div key tag="5"></div>
            <div key tag="6"></div>
        </div>
        <div class="row keys">
            <div key tag="7"></div>
            <div key tag="8"></div>
            <div key tag="9"></div>
        </div>
        <div class="row keys">
            <div key tag="&#x232b;"></div>
            <div key tag="0 -"></div>
            <div key tag="&#x23ce;"></div>
        </div>
    </div>
</div>