<!-- <header class="black">
	<i class="icon ion-ios7-bell" style="color: rgb(138, 138, 138); float: left; padding-left: 10px; padding-top: 2px;"></i>
    <i class="icon ion-battery-full" style="color: rgb(138, 138, 138); float: right; padding-right: 10px; padding-top: 2px;"></i>
</header> -->
<section class="main-content black">
    <div class="huge-clock">
        <h1 current-time="hourFormat"></h1>
        <small current-time="dateFormat" style="letter-spacing: 0.05em;"></small>
    </div>
</section>
<footer class="black">
    <div class="slide-up-arrow" ng-click="unlock()"></div>
</footer>
