<header class="black">
	<i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
	<small current-time="hourFormat"></small>
	<i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
</header>
<section class="main-content">
	<ul>
		<li ng-repeat="note in notes" ng-click="selectNote(note)">{{ note.title }}</li>
	</ul>
</section>
<footer class="gray row">
	<a class="col span_3_3" href="#/notes/add"><i class="icon ion-plus-round"></i></a>
</footer>