<!-- <header class="black">
	<i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
	<small current-time="hourFormat"></small>
	<i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
</header> -->
<section class="main-content">
	<h3>{{ note.title }}</h3>
	<p class="description">{{ note.content }}</p>
</section>
<footer class="gray row">
	<a class="col span_2_4" href="#/notes/{{note.id}}/edit"><i class="icon ion-edit"></i></a>
    <a class="col span_2_4" href="#/notes/{{note.id}}/delete"><i class="icon ion-trash-a"></i></a>
</footer>
