<!-- <header class="black">
	<i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
	<small current-time="hourFormat"></small>
	<i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
</header> -->
<section class="main-content black">
	<div style="text-align: center; color: #aaa; margin-top: 30px;">
		<i class="icon ion-ios7-bell" style="font-size: 70px"></i>
		<h3 style="font-weight: 300">Call mom</h3>
	</div>
</section>
<footer class="black">
    <div class="row">
    	<div ng-click="snooze()" class="col span_2_4" style="color: #aaa; font-weight: 300;">Snooze</div>
    	<div ng-click="back()" class="col span_2_4" style="color: #aaa; font-weight: 300;">Dismiss</div>
    </div>
</footer>
<audio autoplay>
	<source src="public/media/notification.mp3" type="audio/mpeg">
	Your browser does not support the audio element
</audio>