<section class="main-content">
	<ul class = "definitions-list">
		<li ng-click='option = 0'>None<i ng-show='option == 0' class="icon ion-checkmark-round"></i></li>
		<li ng-click='option = 5'>5 minutes before<i ng-show='option == 5' class="icon ion-checkmark-round"></i></li>
		<li ng-click='option = 10'>10 minutes before<i ng-show='option == 10' class="icon ion-checkmark-round"></i></li>
		<li ng-click='option = 15'>15 minutes before<i ng-show='option == 15' class="icon ion-checkmark-round"></i></li>
		<li ng-click='option = 30'>30 minutes before<i ng-show='option == 30' class="icon ion-checkmark-round"></i></li>
	</ul>
</section>
<footer class="gray row">
	<div class="col span_3_3" ng-click="return = false"><i class="icon ion-checkmark"></i></div>
</footer>
