<header class="black">
	<i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
	<small current-time="hourFormat"></small>
	<i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
</header>
<section class="main-content no-footer">
	<ul class = "definitions-list">
		<li ng-click='profile = "default"'>Default<i ng-show='profile == "default"' class="icon ion-checkmark-round"></i></li>
		<li ng-click='profile = "muted"'>Muted<i ng-show='profile == "muted"' class="icon ion-checkmark-round"></i></li>
		<li ng-click='profile = "custom"'>Custom<i ng-show='profile == "custom"' class="icon ion-checkmark-round"></i></li>
	</ul>
</section>
