<!-- <header class="black">
	<i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
	<small current-time="hourFormat"></small>
	<i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
</header> -->
<section class="main-content">
	<ul class = "definitions-list">
		<li ng-click='category = "all"'>All<i ng-show='category === "all"' class="icon ion-checkmark purple"></i></li>
        <li ng-repeat="c in categories" ng-click="changeCategory(c)">{{ c | capitalize }}<i ng-show='category === "{{c}}"' class="icon ion-checkmark purple"></i></li>
	</ul>
</section>
<footer class="gray row">
	<div class="col span_3_3" ng-click="back()"><i class="icon ion-checkmark purple"></i></div>
</footer>
