<!doctype html>
<html lang="en" ng-app="tempus">
<head>
	<meta charset="UTF-8">
	<title>Tempus</title>
	<link rel="stylesheet" href="public/css/normalize.css">
	<link rel="stylesheet" href="public/css/ionicons.css">
	<link rel="stylesheet" href="public/css/grid.css">
	<link rel="stylesheet" href="app.css">
</head>
<body ng-controller="AppCtrl">
    <div class="container">
 	    <div id="screen" class="white" data-ng-view="" >

	    </div>
    </div>
	<button ng-click="nextMenu()">Swype</button>
    <button ng-click="unlock()">Lock/Unlock</button>
    <button ng-click="speak()">Speak</button>
    <button ng-click="back()">Back</button>
    <button ng-click="notification()">Notification</button>
	<script src="public/js/angular.min.js"></script>
	<script src="public/js/angular-route.min.js"></script>
	<script src="public/js/angular-animate.min.js"></script>
	<script src="public/js/underscore-min.js"></script>
    <script src="app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/1.0.0/annyang.min.js"></script>

</body>
</html>

