<!doctype html>
<html lang="en" ng-app="tempus">
<head>
	<meta charset="UTF-8">
	<title>Tempus</title>
	<link rel="stylesheet" href="public/css/normalize.css">
	<link rel="stylesheet" href="public/css/ionicons.css">
	<link rel="stylesheet" href="public/css/grid.css">
	<link rel="stylesheet" href="app.css">
</head>
<body ng-controller="AppCtrl">
    <div class="container">
    	<div id="screen" class="white view-animation" ng-class='{ wallpaper: currentPage == "/home" }'>
    		<header ng-class="{ black: currentPage !== '/home' }">
    			<i class="icon ion-ios7-bell" style="float: left; padding-left: 10px; padding-top: 2px;"></i>
    			<small current-time="hourFormat" ng-show="currentPage !== '/lockscreen'"></small>
    			<i class="icon ion-battery-full" style="float: right; padding-right: 10px; padding-top: 2px;"></i>
    		</header>
 	    	<div class="view-animation" ng-view></div>
	    </div>
	    <button id="lock-button" ng-click="lock()"></button>
	    <button id="speak-button" ng-click="speak()"></button>
    </div>
    <p>{{ moment }}</p>
	<button ng-click="nextMenu()">Swype</button>
    <button ng-click="back()">Back</button>
    <button ng-click="notification()">Notification</button>
	<script src="public/js/angular.min.js"></script>
	<script src="public/js/angular-route.min.js"></script>
	<script src="public/js/angular-animate.min.js"></script>
	<script src="public/js/underscore-min.js"></script>
    <script src="app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
    <script src="public/js/annyang.min.js"></script>
    <script src="public/js/moment.min.js"></script>

</body>
</html>

